<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.citizen.citizenexampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="is.citizen.citizenexampleapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.FingerprintLoginExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.CreateNewUserExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.PasswordLoginExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.CreateFingerprintKeyExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.SetNameExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.SetOriginExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.SetPhoneExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.ConfirmPhoneExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.SetAddressExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.GetPersonExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.IssueTokenExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.GetRequestedTokensExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.GrantTokenExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.DeclineTokenExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.SignTokenExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.VerifySignedTokenExample"></activity>
        <activity android:name="is.citizen.citizenexampleapp.examples.GrantWebLoginTokenExample"></activity>
    </application>

</manifest>